@namespace url("http://www.gov.org/eastcoaststates");
@namespace w url("http://www.gov.org/westcoaststates");


state {
  display: block;
  background-color: blueviolet;
  color: azure;
  font-weight: bold;
}
w|state {
  display: block;
  background-color: green;
  color: azure;
  font-weight: bold;
}
