body {
  background-color: #5c6479;
  color: #06091f;
  text-align: center;
}
h1 {
  font-size: 3em;
  padding: 20px;
}
img {
  display: block;
}
p {
  padding-top: 40px;
  color: #061127;
  font-size: 1em;
}