library {
    padding-top: 40px;
    margin-top: 40px;
    background-color: lightgray;
    text-align: center;
}
title {
    font-size: 25px;
    font-weight: bold;
    color: red;
}
book, title, author, publisher {
    display : block;
}
book:nth-child(odd) {
    background: lightblue;
  }