
body{
    text-align: center;
    padding: 50px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #d6e2ec;
    font-family: 'Montserrat', sans-serif;background-color: #051322;
}

header {
    margin-bottom: 40px;
}

table {
    width: 100%;
    text-align: center;
}
td{
    font-size: 12px;
}
th {
    font-size: 24px;
}


a{
    font-size: 18px;
    text-decoration: none;
    color: #636E73;
}

a:hover{
    color: #d8dfe0;
}

h1{
    font-size: 45px;
    font-family: 'Caveat', cursive;
}
